<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <!-- <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" /> -->
        
        <link rel="stylesheet" href="lib/onsen/css/onsenui.css">
        <link rel="stylesheet" href="css/onsen-css-components.css">
        <link rel="stylesheet" href="css/index.css">
    
        <title>Hello World</title>
        
        <!-- <script type="text/javascript" src="cordova.js"></script> -->
        
        <script src="lib/onsen/js/angular/angular.js"></script>
        <script src="lib/onsen/js/onsenui.js"></script>
        
        <script src="app/app.module.js"></script>
        <script src="app/driversSearch.js"></script>
        <script src="app/friendsList.service.js"></script>
        
        <style>

        </style>
        
    </head>
    <body ng-app="app">

        <ons-navigator var="myNavigator">
            <ons-page>
                <div class="header"></div>
                <div class="start-drive-form">
                    <ons-button modifier="large" class="start-drive-button" ng-click="myNavigator.pushPage('chooseDriver.html', { animation : 'slide' } )">Start New Drive</ons-button>
                </div>
            </ons-page>
        </ons-navigator>
        
        <ons-template id="home.html">
            
        </ons-template>
        
        <ons-template id="chooseDriver.html">
            <ons-page ng-controller="DriversSearch as driversSearch">
                <ons-toolbar fixed-style>
                    <div class="left">
                        <ons-back-button>Back</ons-back-button>
                    </div>
                    <div class="center">
                        Choose a Driver
                    </div>
                    <div class="right">
                        <ons-toolbar-button>
                            <ons-icon icon="ion-plus" fixed-width="false" style="vertical-align: -4px;"></ons-icon>
                        </ons-toolbar-button>
                    </div>
                </ons-toolbar>

                <div class="navigation-bar">
                    <div class="navigation-bar__center">
                        <input type="search" class="search-input" style="width: 96%; margin: 6px auto 6px auto;" placeholder="Search" ng-change="driversSearch.searchDrivers()" ng-model="driversSearch.nameFilter">
                    </div>
                </div>

                <ons-list class="person-list" ng-repeat="driversChar in driversSearch.driversDictionary">
                    <ons-list-header class="person-list-header">{{driversChar.char}}</ons-list-header>
                    <ons-list-item class="person" modifier="tappable" ng-repeat="driver in driversChar.drivers">
                        <ons-row>
                            <ons-col width="40px">
                            <img src="{{driver.picture}}" class="person-image">
                            </ons-col>
                            <ons-col class="person-name">
                                {{driver.name}}
                            </ons-col>
                        </ons-row>
                    </ons-list-item>
                </ons-list>

            </ons-page>
        </ons-template>
        
    </body>
</html>
