.header {
    height: 40%;
}

.start-drive-form {
    text-align: center;
    width: 80%;
    margin: 60px auto 0;
}

.start-drive-button {
    width: 100%;
    margin: 0 auto;
}


/* chooseDriver */
.person-list {
  border-top: none;
}

.person {
  line-height: 1;
}

.person-list-header {
  opacity: 0.6;
}

.person-name {
  line-height: 44px;
}

.person-image {
  width: 30px;
  height: 30px;
  margin-top: 8px;
  border-radius: 2px;
}
